.board-container {
  float: left;
  width: 100%;
}
.board {
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 100%;
  padding-left: 0;
}
[class*="grid"]:before, [class*="block-grid-"]:after {
  content: " ";
  display: table;
}
.grid>li:nth-of-type(3n+1) {
  clear: none;
}
.grid>li:nth-of-type(3n+1) {
  clear: both;
}
.grid>li:nth-of-type(n) {
  clear: none;
}
.board li {
  padding: 0em;
  border-collapse: collapse;
}
.grid>li {
  width: 33.33333%;
  padding: 0 0.625em 1.25em;
}

[class*="grid"]>li {
  display: inline;
  height: auto;
  float: left;
  padding: 0 0.625em 1.25em;
}
.square {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.board li {
  padding: 0em;
  border-collapse: collapse;
}
.square:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.square-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.square-inner-inner {
  display: table;
  width: 100%;
  height: 100%;
}
.space {
  color: #DCEBDF;
}

.space {
  font-size: 3em;
}
.space {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.top-left, .top-center, .middle-left, .middle-center, .bottom-left, .bottom-center {
  border-right: 2px solid rgb(226, 226, 226);
}
.top-left, .top-center, .top-right, .middle-left, .middle-center, .middle-right {
  border-bottom: 2px solid rgb(226, 226, 226);
}

@media only screen and (min-width : 768px) {
  /* Styles */
  .board {
    margin: 0px auto;
    max-width: 400px;
    padding: 0;
  }
  .space {
    font-size: 5em;
  }
}