.winner-board {
  max-width: 400px;
  margin: 0px auto;
  margin-top: 2em;
  padding: 2em;
}

.winner-board p,
.winner-board h2 {
  text-align: center
}

.leaderboard {
  margin-bottom: 2em;
}

.leaderboard h3 {
  text-align: center;
}

.leaderboard table {
  width: 100%;
}

.leaderboard table tr th {
  text-align: left;
  font-size: .95em;
}

.leaderboard table tr td {
  padding: .35em;
}

.close-leaderboard,
.play-again {
  text-align: center;
  width: 100%;
}
