@import url('./board.css');
@import url('./leaderboard.css');

body {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
a {
  cursor: pointer;
  color: #315459;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255, .95);
  z-index: 999;
  top: 0px;
  left: 0px;
}

.game-container {
  width: 100%;
  margin: 0px auto;
  padding: 2em;
}
@media only screen and (min-width : 768px) {
  /* Styles */
  .game-container {
    width: 400px;
    margin: 0px auto;
    padding: 0;
  }
}
.game-intro {
  margin: 0px auto;
  text-align: center;
  width: 200px;
}

.game-intro .row {
  text-align: left; 
}

.game-intro input {
  width: 100%;
}

.game-title {
  text-align: center;
}
.x-icon {
  color: #32383F; 
}
.o-icon {
  color: #819889;
}

input[type="text"] {
  padding: .35em;
  border: 1px solid #e0e0e0;
}

button {
  background: #f2f2f2;
  border: 0px;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #e0e0e0
}

.disabled {
  color: #ccc;
}

.danger {
  color: red;
}

.start-button {
  margin-top: 1em;
}

.row {
  float: left;
  width: 100%;
  padding: .5em;
}

.current-player {
  font-weight: bold;
}

.pull-left {
  float:left
}

.pull-right {
  float:right;
}